.encabesado table img{
    border-radius: 20px;
}
.encabesado embed{
    border-radius: 50px;
}
.ventas table img{
    border-radius: 20px;
}
.menu div audio{
    height:300px;
    width: 200px;
}
.ventas h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.ventas p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.ventas button{
    background-image: linear-gradient(
        150deg,
        #FB0303,
        #AB04C9,
        #034BFB
    );
    border: 5px solid;
    border-image: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue) 1;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s ease-in-out;
    animation: border_glow 2s linear infinite;
}

.ventas button:hover {
    transform: scale(1.1);
}

.ventas button::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.ventas button:hover::before {
    opacity: 0;
}

@keyframes border_glow {
    0% {border-image: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue) 1;}
    100% {border-image: linear-gradient(45deg, blue, red, blue, deeppink, blue, red, blue, deeppink) 1;}
}
.ofertasss button{
    background-image: linear-gradient(
        150deg,
        #FB0303,
        #AB04C9,
        #034BFB
    );
    border: 5px solid;
    border-image: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue) 1;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s ease-in-out;
    animation: border_glow 2s linear infinite;
}

.ofertasss button:hover {
    transform: scale(1.1);
}

.ofertasss button::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.ofertasss button:hover::before {
    opacity: 0;
}

@keyframes border_glow {
    0% {border-image: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue) 1;}
    100% {border-image: linear-gradient(45deg, blue, red, blue, deeppink, blue, red, blue, deeppink) 1;}
}
.ofertasss p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.oferta h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.oferta a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.encabesado h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}